body {
    background-color: #f1f1f1;
}

.wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
}

.center {
    text-align: center;
}

.error {
    background-color: #a75057;
    color: white;
    text-align: center;
    width: 300px;
    border-radius: 5px;
    padding: 3px;
    margin: auto;
}