.logout {
    text-align: right;
}

.grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, 370px);
    justify-content: center;
}

.task {
    background-color: #d2d2d2;
    width: 350px;
    text-align: center;
    border-radius: 10px;
    margin-bottom: 20px;
}

.task {
    color: black;
    text-decoration: none;
}

.task h1 {
    text-decoration: underline;
}

.task p {
    font-size: 20px;
}